streamlit==1.24.0  # Streamlit의 최신 안정 버전
scikit-learn==1.3.0  # Scikit-learn의 최신 안정 버전
numpy==1.25.0  # Numpy의 최신 안정 버전
cython==3.0.0  # Cython의 최신 안정 버전

# 추가적인 필요 패키지
pandas==2.0.0
matplotlib==3.7.0
joblib==1.1.0